.hero-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.exp-img{
    height: 50vh;
    width: 75vh;
    margin: 0px auto;
    display: block;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}